In [2]:
import tensorflow as tf
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats.stats import pearsonr
import pandas as pd
import time
import datetime
from datetime import timedelta
%matplotlib inline

## 獲取兩個日期間的所有日期

In [3]:
def getEveryDay(begin_date,end_date):
    date_list = []
    begin_date = datetime.datetime.strptime(begin_date, "%Y-%m-%d")
    end_date = datetime.datetime.strptime(end_date,"%Y-%m-%d")
    while begin_date <= end_date:
        date_str = begin_date.strftime("%Y-%m-%d")
        date_list.append(date_str)
        begin_date += datetime.timedelta(days=1)
        
    return date_list

In [30]:
df = pd.read_table("stat_v18.txt")
df = df.drop(['PMfstrS','PMfstrL','PMfstrA','PMfu'],axis = 1)
df = df[df['tau']!=0]
df = df[df['stationID']!='EPA101']
df.head()

/anaconda3/envs/tensorflow/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  """Entry point for launching an IPython kernel.

      year  month  day  hour     expdate  tau  ver stationID     calPMf
1848  2019      5    2     0  2019-05-01    1   18    EPA001  25.378662
1849  2019      5    2     0  2019-05-01    1   18    EPA002  26.762809
1850  2019      5    2     0  2019-05-01    1   18    EPA003  28.312006
1851  2019      5    2     0  2019-05-01    1   18    EPA004  23.493353
1852  2019      5    2     0  2019-05-01    1   18    EPA005  16.208615

In [31]:
pd.notnull(df[df['stationID']=='EPA101']['calPMf'])

Series([], Name: calPMf, dtype: bool)

In [32]:
df['year'] = df['year'].astype(str)
df['month'] = df['month'].astype(str)
df['day'] = df['day'].astype(str)
df['hour'] = df['hour'].astype(str)
df['dateTime'] = df['year'] + '-' + df['month'].str.zfill(2) + '-'+ df['day'].str.zfill(2) + ' '+df['hour'].str.zfill(2) +':'+ '00:00 '
#df['expdate'] = df['expdate'].str.split('/').str.get(0) + '-' + df['expdate'].str.split('/').str.get(1).str.zfill(2) + '-'+ df['expdate'].str.split('/').str.get(2).str.zfill(2)
df['dateTime'] = pd.to_datetime(df['dateTime'], errors='coerce')
df.head()

,year,month,day,hour,expdate,tau,ver,stationID,calPMf,dateTime
1848,2019,5,2,0,2019-05-01,1,18,EPA001,25.378662,2019-05-02
1849,2019,5,2,0,2019-05-01,1,18,EPA002,26.762809,2019-05-02
1850,2019,5,2,0,2019-05-01,1,18,EPA003,28.312006,2019-05-02
1851,2019,5,2,0,2019-05-01,1,18,EPA004,23.493353,2019-05-02
1852,2019,5,2,0,2019-05-01,1,18,EPA005,16.208615,2019-05-02

In [7]:
df_add['dateTime'] = list(str(pd.to_datetime(date, errors='coerce') + timedelta(days=1)))*24 + \
                             list(str(pd.to_datetime(date, errors='coerce') + timedelta(days=2)))*24 + \
                            list(str(pd.to_datetime(date, errors='coerce') + timedelta(days=3)))*24 + \
                             list(str(pd.to_datetime(date, errors='coerce') + timedelta(days=4)))*24
df_add

NameError: name 'date' is not defined

In [33]:
stations = df['stationID'].unique()
all_expdate = getEveryDay('2019-05-01','2019-08-27')

for name in stations:
    unnormal = list(df[df['stationID'] == name]['expdate'])
    dates = list(set(all_expdate).difference(set(unnormal)))
    print(name)
    for date in dates:

        #str = int(date.split("/")[2])
        df_add = df[:  96].copy()
        df_add['expdate'] = date
        df_add['hour'] = list(np.arange(24))*4
        df_add['stationID'] = name
        df_add['tau'] = np.arange(96) + 1
        df_add['dateTime'] = pd.to_datetime(date, errors='coerce') + timedelta(days=1)
        #df_add['dateTime'] = pd.to_datetime(df_add['dateTime'], errors='coerce')
        df_add['month'] = df_add['dateTime'].dt.month
        df_add['day'] = df_add['dateTime'].dt.day
        df_add['calPMf'] = np.nan
        df_add['ver'] = [18]* 96

        df = pd.concat([df, df_add])

    df.sort_values(by=['expdate', 'tau','stationID'], inplace = True)
    if sum(pd.value_counts(df[df['stationID']==name]['expdate'])!=96)>0:
        count = pd.value_counts(df[df['stationID']==name ]['expdate']).values
        index = pd.value_counts(df[df['stationID']==name ]['expdate']).index
        for expdate in index[count!=96]:
            all_hour = np.arange(96) + 1
            unnormal = df[df['stationID']==name ][df['expdate']==expdate]['tau']
            taus = list(set(all_hour).difference(set(unnormal)))
            num = len(hours)
            #timestamp = int(time.mktime(time.strptime(expdate, "%Y-%m-%d"))) ################

            df_add = df[:  len(taus)].copy()
            df_add['expdate'] = expdate  
            df_add['hour'] = taus % 24 
            df_add['stationID'] = name
            df_add['tau'] = taus
            df_add['month'] = np.nan ###########
            df_add['day'] = np.nan
            df_add['calPMf'] = np.nan
            df_add['ver'] = [17] * num
            timeArray = time.strptime(expdate + ' 00', "%Y-%m-%d %H")
            #df_add['dateTime'] =  timestamp +86400 + taus * 3600 ######################
            df = pd.concat([df, df_add])

EPA001
EPA002
EPA003
EPA004
EPA005
EPA006
EPA007
EPA008
EPA009
EPA010
EPA011
EPA012
EPA013
EPA014
EPA015
EPA016
EPA017
EPA018
EPA019
EPA020
EPA021
EPA022
EPA023
EPA024
EPA025
EPA026
EPA027
EPA028
EPA029
EPA030
EPA031
EPA032
EPA033
EPA034
EPA035
EPA036
EPA037
EPA038
EPA039
EPA040
EPA041
EPA042
EPA043
EPA044
EPA045
EPA046
EPA047
EPA048
EPA049
EPA050
EPA051
EPA052
EPA053
EPA054
EPA056
EPA057
EPA058
EPA059
EPA060
EPA061
EPA062
EPA063
EPA064
EPA065
EPA066
EPA067
EPA068
EPA069
EPA070
EPA071
EPA072
EPA080
EPA084
EPA102
EPA104
EPA110

In [141]:
#df.to_csv('pred_v18.csv')

In [34]:
df_pm25 = pd.DataFrame(np.array(df['calPMf']).reshape([-1, 96*76]))
df_pm25.index = pd.to_datetime(df['expdate'].unique(), errors='coerce') + timedelta(days=1)
df_pm25.head()

,0,1,2,3,4,5,6,7,8,9,...,7286,7287,7288,7289,7290,7291,7292,7293,7294,7295
2019-05-02,25.378662,26.762809,28.312006,23.493353,16.208615,23.114860,23.876440,35.129498,27.616800,23.148564,...,16.824983,12.454709,8.439036,16.809657,3.155507,1.595888,0.287451,17.073544,0.621773,2.503552
2019-05-03,22.449501,22.553379,19.701610,18.562927,11.574634,23.212830,31.011216,29.423361,28.683004,25.265536,...,2.253691,13.458723,4.180285,25.224034,8.433666,1.709137,0.342138,58.602387,1.133107,6.348839
2019-05-04,15.152556,15.216946,16.225082,15.661366,15.491049,17.479730,19.955730,20.260817,20.356940,16.514298,...,6.347907,15.263381,5.190069,38.129214,8.861641,4.290921,0.478406,61.103512,8.076694,5.772860
2019-05-05,14.915360,17.118671,15.830101,17.272750,19.017453,20.192850,15.744980,22.260971,17.311502,17.577911,...,15.756956,11.659058,10.577075,13.918918,5.631461,1.661173,1.575462,20.400735,7.972200,14.445440
2019-05-06,20.169198,20.062555,13.534532,16.130718,14.725401,15.050772,15.686775,19.713494,20.097872,21.020320,...,9.668982,5.287912,4.084679,19.218267,10.815857,2.114089,0.240413,55.352082,15.559785,9.011922

In [35]:
df_pm25.shape

(119, 7296)

In [186]:
df_pm25.to_csv('pred_v17_change.csv')

## -------------------------------------------------

In [36]:
no_nan_df = df_pm25.dropna(axis=0, how='all')
no_nan_df.head()

,0,1,2,3,4,5,6,7,8,9,...,7286,7287,7288,7289,7290,7291,7292,7293,7294,7295
2019-05-02,25.378662,26.762809,28.312006,23.493353,16.208615,23.114860,23.876440,35.129498,27.616800,23.148564,...,16.824983,12.454709,8.439036,16.809657,3.155507,1.595888,0.287451,17.073544,0.621773,2.503552
2019-05-03,22.449501,22.553379,19.701610,18.562927,11.574634,23.212830,31.011216,29.423361,28.683004,25.265536,...,2.253691,13.458723,4.180285,25.224034,8.433666,1.709137,0.342138,58.602387,1.133107,6.348839
2019-05-04,15.152556,15.216946,16.225082,15.661366,15.491049,17.479730,19.955730,20.260817,20.356940,16.514298,...,6.347907,15.263381,5.190069,38.129214,8.861641,4.290921,0.478406,61.103512,8.076694,5.772860
2019-05-05,14.915360,17.118671,15.830101,17.272750,19.017453,20.192850,15.744980,22.260971,17.311502,17.577911,...,15.756956,11.659058,10.577075,13.918918,5.631461,1.661173,1.575462,20.400735,7.972200,14.445440
2019-05-06,20.169198,20.062555,13.534532,16.130718,14.725401,15.050772,15.686775,19.713494,20.097872,21.020320,...,9.668982,5.287912,4.084679,19.218267,10.815857,2.114089,0.240413,55.352082,15.559785,9.011922
2019-05-07,2.671120,19.065295,11.045278,15.858298,7.119115,14.933830,16.434140,22.944383,21.296416,11.993011,...,14.878386,2.921710,5.848060,33.528150,8.492652,0.954279,0.248653,43.434278,1.409147,3.812406
2019-05-08,12.008221,13.797399,10.839516,16.179682,16.902564,18.532970,18.405900,18.349056,17.996240,10.517890,...,11.354709,32.790200,5.253278,55.485967,3.592080,1.540678,0.081880,154.920089,0.738440,7.617957
2019-05-09,13.321711,11.622199,8.176604,6.942328,10.265822,18.744730,9.877997,17.956333,10.395360,8.754540,...,11.937148,42.625868,11.933568,67.268092,16.879745,2.530862,0.189464,12.129671,5.239619,6.821362
2019-05-10,1.933406,4.448012,1.451286,3.795055,4.300208,6.981692,11.343529,8.562552,7.815954,4.277438,...,15.316927,4.454513,6.555558,86.911577,8.862767,2.843997,0.070353,30.569538,2.165869,9.064067
2019-05-11,13.779223,14.141935,10.239069,12.601817,15.225530,17.410479,20.424940,14.646621,18.696180,16.679609,...,9.542719,12.419229,8.117783,26.293106,7.289289,2.331160,0.453364,170.876333,11.899172,6.210395
2019-05-12,15.918297,11.722906,9.850943,10.232803,20.109170,22.548330,19.940750,19.231470,21.457380,14.021554,...,4.139996,18.023322,9.218208,42.147470,51.921884,0.605819,1.230597,122.969676,36.110879,8.319765
2019-05-15,21.073139,19.136847,14.512799,27.027263,39.225831,34.731010,31.997475,27.547746,33.559077,30.047549,...,13.530979,53.208798,18.835903,19.119093,4.507411,2.697733,0.855818,69.382492,2.975918,168.020449
2019-05-16,4.038343,5.478233,19.521802,3.287713,8.230454,4.315200,5.015636,3.656549,7.134814,2.249579,...,14.303728,6.228728,8.728054,204.550487,4.992396,2.024055,3.540779,41.523418,4.036884,22.965714
2019-05-17,2.159489,19.472127,1.906547,4.254808,8.720273,6.119329,4.389447,4.659742,25.367343,2.279129,...,12.097390,2.580925,14.770056,31.613422,2.747929,2.685343,9.046465,10.331688,3.390930,8.360625
2019-05-18,12.431116,15.721440,23.806243,10.606547,21.970633,24.995433,20.557234,20.172460,18.681038,13.476761,...,10.969167,4.721748,4.078271,16.871750,8.313165,2.124389,23.204209,49.863379,NaN,11.419068
2019-05-19,18.088204,22.863747,1.690970,21.961733,2.999840,4.720224,8.293497,33.090523,16.227180,21.230275,...,2.854960,1.222494,3.121364,7.617610,0.928681,0.292115,0.656666,NaN,NaN,2.693723
2019-05-20,16.668987,15.950174,13.164045,16.288470,17.373791,18.089680,7.134589,20.913618,9.459817,7.651049,...,3.608790,0.914195,4.053524,14.219287,1.012618,0.287951,0.669923,NaN,NaN,3.720434
2019-05-21,22.504707,25.899383,22.373854,22.943948,19.887210,24.651583,23.938650,32.391133,24.341811,21.234144,...,3.273651,0.694179,4.056300,17.872475,1.051777,0.298864,0.074673,NaN,NaN,2.992952
2019-05-22,18.762409,15.420931,16.962361,18.280897,26.074020,27.725560,21.510257,30.722645,21.835890,18.760888,...,4.862380,1.889395,4.657786,14.573285,0.444766,0.190630,0.166616,0.871307,0.555005,0.732321
2019-05-23,15.889121,15.802744,21.738073,12.995814,16.483704,15.937330,16.928277,17.237883,9.870702,13.508069,...,3.993148,1.743322,7.051669,9.508793,1.285140,0.290922,0.141792,1.440421,0.867418,1.876012
2019-05-24,13.442509,14.833709,14.539403,14.108933,20.937970,22.554220,17.962240,20.022300,17.918990,14.026354,...,3.337162,2.206677,7.369985,16.171237,1.032700,0.266879,0.119606,0.289280,NaN,3.268406
2019-05-25,18.108680,17.826343,16.728850,18.690528,15.030051,19.649610,20.441370,28.046167,18.344199,24.492982,...,7.823414,1.424454,7.015529,15.113555,0.814074,0.270402,0.117285,NaN,NaN,3.461546
2019-05-26,21.975387,23.898818,25.386587,19.888133,22.330977,24.922080,25.927847,32.783814,24.097583,25.393540,...,6.586492,1.206798,4.625073,13.045464,0.833605,0.141660,0.207655,0.763691,0.697437,0.325752
2019-05-27,19.590455,25.561443,20.850137,18.539286,25.309570,25.402950,25.494390,31.520545,27.467063,21.839303,...,5.357891,1.187740,4.914237,16.411004,1.077025,0.293692,0.267434,NaN,0.483576,1.099319
2019-05-28,14.161309,18.688960,9.037477,16.771700,21.161504,20.520680,18.037054,25.793957,24.104525,19.689202,...,6.446200,1.081885,4.520078,16.104470,0.939822,0.301994,0.498191,NaN,0.733726,2.911401
2019-05-29,12.764471,13.925107,10.285695,15.897189,17.215547,21.117320,14.359207,19.887443,15.188630,11.877019,...,5.503525,0.813661,3.824884,14.089757,0.582779,0.186943,1.009256,2.563091,0.338018,0.948074
2019-05-30,13.073592,11.373213,10.797014,12.894815,15.802670,19.203810,14.946194,17.490806,14.425731,12.738369,...,3.813333,1.271459,3.265369,5.529955,0.985197,0.157089,1.803892,0.441408,0.293029,0.553198
2019-05-31,23.901904,24.114283,22.776671,24.672365,23.354864,29.150750,25.505400,28.448084,24.982000,24.012044,...,4.057592,1.146933,4.081362,9.017038,1.042215,0.158506,0.134888,NaN,1.067760,0.365040
2019-06-01,20.461599,22.845912,23.140042,23.305206,24.486442,20.955024,20.742553,23.592372,23.283029,3.641574,...,2.404845,0.303661,3.329349,4.599489,0.299955,0.132247,5.933546,NaN,0.098038,2.481563
2019-06-02,20.112713,20.863808,20.533964,21.891009,23.804268,28.658490,26.316960,28.252422,28.263678,22.869792,...,132.983320,83.893810,50.550068,22.330401,20.605090,2.409033,8.921060,NaN,0.729280,5.741720
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-07-30,8.312845,14.668267,0.776477,13.889881,20.421176,16.616380,19.648607,17.770966,18.771882,14.128924,...,33.425460,67.546783,6.245282,31.551250,33.190939,1.953559,1.052639,10.396045,7.387230,15.623480
2019-07-31,8.643315,6.030589,6.311240,7.599969,12.400591,15.203250,12.633460,11.909842,12.104567,8.993524,...,32.242639,15.953990,9.575093,38.000520,14.804880,2.911067,27.273150,12.297980,NaN,7.491040
2019-08-01,7.260631,5.362035,5.754060,10.376062,15.589522,14.173348,11.301450,10.572998,10.599060,8.765661,...,72.221890,4.535030,7.881442,42.608800,2.953422,0.798005,3.733196,0.316346,NaN,10.017490
2019-08-02,9.239717,8.996784,7.350751,12.982971,18.635411,14.947146,16.533100,13.320816,16.059097,11.205692,...,6.983907,53.557580,7.758720,34.333440,17.240010,0.398210,1.872415,2.053269,3.075235,16.671270
2019-08-03,8.526597,6.002401,8.846344,8.861928,9.860730,15.133380,10.101477,15.490115,12.608480,12.465866,...,9.238835,3.537873,4.468397,35.161130,3.022382,0.481376,0.446968,12.306063,NaN,31.205110
2019-08-04,7.280486,7.000940,8.633230,6.860759,10.850860,11.684910,11.668453,9.468135,14.580630,7.811834,...,11.141350,4.752000,6.844020,34.996870,16.055900,12.531139,4.210754,12.882273,NaN,7.731330
2019-08-05,10.203661,10.791294,9.025925,10.754805,11.814713,11.478763,12.418836,10.182200,15.271320,9.943251,...,3.749282,34.748109,2.525769,18.213778,14.292113,0.338986,0.094166,0.037785,0.082946,1.718170
2019-08-06,9.321589,10.266643,9.400967,9.899018,13.032666,13.836290,10.918478,15.945060,13.576780,9.598007,...,3.589384,0.585356,3.380189,3.584208,0.173893,1.521124,1.922754,0.084851,NaN,0.891340
2019-08-07,16.716895,13.707771,14.395374,10.721235,15.515880,16.103280,13.149522,13.170102,16.646489,11.001082,...,5.906805,3.404649,2.865701,14.292879,0.397778,0.250574,0.031651,15.327968,NaN,2.800656
2019-08-08,1.167225,7.276898,0.716849,7.988539,11.671870,9.563780,4.166174,3.927617,12.094885,3.896889,...,11.734090,11.922760,4.310175,9.678929,2.718959,1.873561,6.041775,0.071201,NaN,3.931952
2019-08-09,0.428057,2.830065,0.416900,3.167008,2.508482,2.042028,1.993851,1.704705,1.808141,1.038010,...,6.526898,6.170300,5.028675,18.472687,2.869861,0.359641,1.704869,NaN,NaN,4.149762
2019-08-10,13.540962,10.785553,2.032232,8.053254,6.494193,7.340349,5.640510,5.782622,2.511485,2.738104,...,6.495027,1.275847,4.233233,13.523980,0.685206,0.256251,1.282956,NaN,NaN,3.129871
2019-08-11,19.352993,20.677722,22.535536,21.904470,27.702728,24.157795,27.901955,25.141492,26.184826,21.531856,...,14.476700,8.613920,5.241450,30.688120,1.688535,0.191200,25.236640,NaN,10.517580,4.628654
2019-08-12,22.779493,20.973894,27.832979,20.620802,18.740315,21.722160,14.403585,25.148240,20.787493,21.264130,...,30.875340,6.439710,14.429520,30.158840,2.312510,0.517584,60.434800,NaN,0.392673,3.749120
2019-08-13,24.683876,34.999404,19.000558,22.710387,24.092290,26.061529,26.373511,25.028570,24.129599,21.417098,...,18.525300,4.279120,46.284380,28.033010,3.134695,0.180217,57.438940,NaN,0.506592,6.502610
2019-08-14,23.868379,23.288565,32.210225,17.589195,23.075139,24.159220,17.389452,17.688215,20.940197,20.030540,...,43.133160,7.832120,26.637210,20.963340,2.881061,0.540174,14.048960,NaN,0.439993,7.019450
2019-08-15,17.829588,22.225033,23.628537,14.312344,19.400422,18.148952,12.963203,20.525104,17.867892,16.988465,...,30.762260,3.909241,26.123260,21.081850,14.528210,0.659505,11.034460,NaN,0.752567,6.956680
2019-08-16,24.214714,23.227898,22.374059,25.031446,21.751681,23.499730,22.693432,21.280996,22.081510,18.915802,...,76.735520,19.676580,70.778880,6.360099,8.545440,2.476805,22.122110,NaN,14.773454,48.361070
2019-08-17,16.997120,17.502424,18.739856,11.681830,19.944593,23.589545,18.978674,20.200090,21.371622,17.713166,...,64.614360,1.348600,17.630700,17.914379,11.982210,0.747351,28.566670,NaN,1.123421,2.384831
2019-08-18,20.457018,20.335500,23.419951,16.638286,20.498450,25.598623,18.906679,16.420122,26.699872,17.668321,...,48.940680,14.640220,9.593420,7.473491,0.945352,0.888798,28.425310,NaN,1.183329,6.318220
2019-08-19,8.890400,11.422314,0.270683,7.629574,4.760268,12.150274,8.463804,12.875787,10.434247,10.552271,...,6.419799,0.489802,4.861200,34.498660,0.740789,0.251434,1.951939,0.294352,1.249601,7.229541
2019-08-20,26.797931,27.066186,28.613071,29.078410,33.195100,34.908120,27.385707,33.784353,27.732476,23.224600,...,28.352440,4.887970,4.957956,26.119970,3.105370,1.243996,0.398390,5.758801,2.022225,5.440220
2019-08-21,6.920000,3.950320,7.106828,8.052926,14.951570,15.665357,13.943167,19.979128,13.645377,14.679935,...,39.289920,19.152080,22.295760,21.320705,3.007259,0.239333,0.558625,16.805409,4.991278,4.755951
2019-08-22,16.547521,18.622531,13.076986,16.429932,18.433369,19.852742,21.548350,24.093694,19.574569,18.110256,...,6.476546,4.431132,6.254715,7.683484,1.794326,0.653726,0.323281,1.562411,NaN,0.829411
2019-08-23,10.709817,8.234752,7.532209,12.218897,12.671849,21.074150,17.854760,25.582339,14.678278,16.027199,...,30.007390,10.934700,12.556440,40.463282,7.729222,0.614093,4.347697,0.371876,3.041822,22.551250
2019-08-24,8.686580,9.087032,0.758527,10.535856,14.110440,11.387820,18.164060,12.652280,16.857572,9.842546,...,12.695210,28.510747,5.462088,34.740173,13.592413,1.765681,0.237820,2.591650,NaN,13.650080
2019-08-25,11.684918,13.447567,11.566770,16.446778,16.234206,15.388477,10.518447,14.797932,13.116323,10.627437,...,11.841010,3.650591,4.237441,18.907437,1.426400,1.618195,0.833298,0.283899,0.669503,7.704441
2019-08-26,11.781714,15.887281,9.164381,7.125234,12.187585,14.202012,13.703636,18.818571,13.192716,14.642585,...,13.134340,13.063050,8.571452,19.762410,6.551634,1.186578,0.150569,4.563065,4.842724,38.417622
2019-08-27,14.116830,14.653978,14.341147,8.926317,17.285322,18.517970,16.961217,30.271644,17.856560,21.404583,...,37.432812,1.265352,41.354375,20.308012,2.490332,1.379927,12.039783,NaN,NaN,12.740832
2019-08-28,10.327578,7.729037,8.264025,12.284123,7.718291,12.235890,12.175730,13.745943,10.215750,9.880289,...,40.510140,88.667150,4.799712,42.429220,51.988450,2.596512,3.495982,NaN,NaN,11.471470

In [37]:
no_nan_df.shape

(117, 7296)

In [38]:
pred_v17 = pd.read_csv('after sinkr pred_v17.csv', header = None)
pred_v18 = pd.read_csv('after sinkr pred_v18.csv', header = None)
pred_v17 = pred_v17[1:]
pred_v18 = pred_v18[1:]
print("pred_v17.shape = ", pred_v17.shape)
print("pred_v18.shape = ", pred_v18.shape)

pred_v17.shape =  (120, 7296)
pred_v18.shape =  (119, 7296)

In [27]:
pred_v17.index = pd.to_datetime(df['expdate'].unique(), errors='coerce') + timedelta(days=1)
pred_v17.head()

,0,1,2,3,4,5,6,7,8,9,...,7286,7287,7288,7289,7290,7291,7292,7293,7294,7295
2019-01-02,8.802175,7.717532,8.9382284,6.06552,10.623307,9.001223,12.692663,9.44195,9.325263,3.1252,...,10.842381,12.073497,5.050655,18.26207,30.7273,6.786378,0.3042748,1.75677164,4.1410284,5.1542614
2019-01-03,4.778693,7.499562,6.9192015,6.120055,6.034465,6.913505,9.127993,8.908815,11.520565,3.789323,...,8.42830482,60.66407611,3.250508,12.37266001,29.78721,2.984121,0.05539496,51.112013,1.2923965,1.669799
2019-01-04,5.3309734,6.409755,6.0599542,3.782637,4.648133,3.888002,5.521788,5.253996,9.324592,2.208601,...,5.08351252,21.900514,3.234257,16.45797,12.143845,2.338926,0.2054999,98.827429,3.58112,10.72594173
2019-01-05,34.417397,35.265427,40.3591559,39.291456,33.230443,32.70254,32.898895,37.464746,31.361296,36.014968,...,11.67285,67.37695,4.56446,12.340719,98.82203,7.18382,0.665758,46.575709,27.087578,5.2232912
2019-01-06,8.1570081,8.810575,8.5095347,8.004482,15.16443,13.810938,9.51487,9.795454,12.154057,7.679361,...,7.64693371,62.35009748,2.17559545,13.61775001,108.4499,2.005029,0.52793525,11.7173785,2.2373521,2.61527649

In [28]:
df_pred_v17 = pd.concat([pred_v17, no_nan_df], axis=1, join_axes=[no_nan_df.index]).iloc[:, :7296]
df_pred_v17.shape

(106, 7296)

In [29]:
df_pred_v17.to_csv('pred17_end.csv')

## -------------------------------------------------

In [39]:
pred_v18.index = pd.to_datetime(df['expdate'].unique(), errors='coerce') + timedelta(days=1)
pred_v18.head()

,0,1,2,3,4,5,6,7,8,9,...,7286,7287,7288,7289,7290,7291,7292,7293,7294,7295
2019-05-02,25.378662,26.762809,28.312006,23.493353,16.208615,23.11486,23.87644,35.129498,27.6168,23.148564,...,16.82498327,12.4547093,8.43903599,16.80965718,3.1555067,1.595888,0.2874513,17.0735442,0.62177321,2.50355221
2019-05-03,22.449501,22.553379,19.7016104,18.562927,11.574634,23.21283,31.011216,29.423361,28.683004,25.265536,...,2.25369052,13.458723,4.18028495,25.224034,8.4336662,1.709137,0.34213845,58.602387,1.1331074,6.348839
2019-05-04,15.152556,15.216946,16.225082,15.661366,15.491049,17.47973,19.95573,20.260817,20.35694,16.514298,...,6.347907,15.263381,5.190069,38.129214,8.861641,4.290921,0.47840581,61.103512,8.0766939,5.77286
2019-05-05,14.91536,17.118671,15.830101,17.27275,19.017453,20.19285,15.74498,22.260971,17.311502,17.577911,...,15.7569563,11.659058,10.57707462,13.9189177,5.631461,1.661173,1.575462,20.4007346,7.9722,14.44544
2019-05-06,20.169198,20.062555,13.534532,16.130718,14.725401,15.050772,15.686775,19.713494,20.097872,21.02032,...,9.6689822,5.287912,4.0846789,19.218267,10.815857,2.114089,0.2404131,55.352082,15.559785,9.011922

In [40]:
df_pred_v18 = pd.concat([pred_v18, no_nan_df], axis=1, join_axes=[no_nan_df.index]).iloc[:, :7296]
df_pred_v18.shape

(117, 7296)

In [41]:
df_pred_v18.to_csv('pred18_end.csv')

## -------------------------------------------------

In [85]:
observer = pd.read_csv('observer dim=7296.csv', header = None)
observer = observer.iloc[1:]
observer.index = observer[0]
observer = observer.iloc[:, 1:]
observer.head()

,1,2,3,4,5,6,7,8,9,10,...,7287,7288,7289,7290,7291,7292,7293,7294,7295,7296
0,,,,,,,,,,,,,,,,,,,,,
2019-01-01,10.0,7.0,5.0,4.0,10.0,4.0,1.0,4.0,11.0,13.0,...,78.000000,42.0,54.0,85.0,3.000000,0.0,19.0,17.0,20.0,40.0
2019-01-02,5.0,5.0,2.0,11.0,6.0,3.0,5.0,4.0,9.0,13.0,...,50.000000,9.0,41.0,30.0,0.000000,0.0,18.0,8.0,7.0,17.0
2019-01-03,6.0,5.0,1.0,10.0,8.0,1.0,6.0,6.0,11.0,7.0,...,20.000000,3.0,33.0,25.0,6.000000,0.0,16.0,14.0,14.0,14.0
2019-01-04,4.0,7.0,3.0,8.0,8.0,0.0,5.0,4.0,7.0,10.0,...,33.000000,15.0,39.0,25.0,7.000000,0.0,31.0,14.0,12.0,24.0
2019-01-05,40.0,20.0,29.0,53.0,42.0,30.0,37.0,12.0,23.0,18.0,...,22.605063,8.0,36.0,26.0,1.219811,0.0,15.0,12.0,14.0,11.0

In [86]:
pred17_end = pd.read_csv('pred17_end.csv', header = None)
pred18_end = pd.read_csv('pred18_end.csv', header = None)
pred17_end = pred17_end.iloc[1:]
pred18_end = pred18_end.iloc[1:]
pred17_end.index = pred17_end[0]
pred18_end.index = pred18_end[0]
pred17_end = pred17_end.iloc[:, 1:]
pred18_end = pred18_end.iloc[:, 1:]
print(pred17_end.shape)
print(pred18_end.shape)

(106, 7296)
(117, 7296)

In [87]:
pred = pd.concat([pred17_end, pred18_end], axis=0)
pred.shape

(223, 7296)

In [89]:
df_observer = pd.concat([observer, pred], axis=1, join_axes=[pred.index]).iloc[:, :7296]
df_observer.shape

(223, 7296)

In [90]:
df_observer.to_csv('observer_end.csv')